* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav,
header,
footer,
aside {
  display: block;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ul li {
	list-style-type: none;
}


img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.text1 {
  padding: 10px;
  border: 10px double navy;
  font-size: 20px;
  color: darkblue;
  background-color: cadetblue;
  line-height: 1.5;
}

.text2 {
  padding: 10px;
  border: 10px dotted darkgreen;
  font-size: 20px;
  color: darkgreen;
  background-color: greenyellow;
  line-height: 1.5;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.big {
	font-size: 30px;
}

.text3 {
	padding: 10px;
	border: 10px dashed rgb(78, 9, 63);
	font-size: 20px;
	color: rgb(105, 11, 105);
	background-color:violet;
	line-height: 1.5;
}

.text4 {
	padding: 10px;
	border: 10px ridge darkred;
	font-size: 20px;
	color: rgb(138, 70, 70);
	background-color:lightpink;
	line-height: 1.5;

}

ul li{
	margin-left: 10px;
	list-style-type: disc;
}