* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav,
header,
footer,
aside {
  display: block;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ul li {
	list-style-type: none;
}


img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

main {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgb(191, 228, 202) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgb(191, 228, 202) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgb(191, 228, 202) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	height: auto;
	width: 100%;
	font-size: 18px;
	color: darkblue;
	line-height: 1.5;
}

div{
	padding: 10px;
	margin: 20px;
		display : inline-block;
		width : 35%;
		height: 35%;
		margin-bottom: 10px;
		vertical-align: top;
		text-align: left;
		line-height: 1.5;
}


span {
	color: darkgreen;
}

h1 {
	font-weight: 700;
	text-align: center;
	font-size: 35px;
}

h2{
	font-weight: 700;
	font-size: 30px;
}

a.butt {
	text-align:center;
	font-size: 15px;
	text-decoration: none;
	font-weight: 700;
	padding: 5px 10px;
	background: #eaeef1;
	width: auto;
	display: inline-block;
	margin-left: 0px;
	margin-top: 15px;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
	border-radius: 3px;
	color: rgba(0,0,0,.6);
	text-shadow: 0 1px 1px rgba(255,255,255,.7);
	box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}